/* I read somewhere that the code starting at line 3 is good to put in all your css. Not sure it's true */

*, *:before, *:after {
   box-sizing: border-box;
   }

/* Wrap the page */   
.container {
   width: 1024px;
   margin: 0 auto;
}

/* style my header */
header {
   font-size: 28px; 
   color: #3c3c3c;
   background-image: url("assets/images/hippo-skin.gif");
   border: 4px solid #cccccc;
   padding: 4px;
   margin-bottom: 10px;
   text-align: center;
}

/* set body font and color */
body {
   font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
   color: #080606;
}

/* set my head tags. Might use h2 later. */
h1, h2, h3 {
   font-family: "Arial Black", "Times New Roman", Times, serif;
   font-weight: bold;
}

h2 {
   font-size: 24px;
   padding-left: 4px;
}

h3 {
   font-size: 22px;
   padding-left: 4px;
}

/* style the Sandburg quote */
blockquote {
    font-style: italic;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 20px;
    padding: 6px 6px 0px 6px;
}

/* put the 2nd quote on the right */
blockquote.b {
    font-style: italic;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 20px;
    padding: 6px;
    text-align: right;
}

/* style my list */
ul {
   font-size: 16px;
   font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

/* move my paragraphs over a little */
p {
   padding-left: 4px;
}

/* For the thumbnails Got the start for this code at https://www.w3schools.com/css/css_image_gallery.asp */
div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}
/* End thumbnails */

/* center the dang images the way I want them */
.gallerysection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


