*, *:before, *:after {
   box-sizing: border-box;
   }

/* code for nav buttons, uncomment if wanted
.topnav {
   overflow: hidden;
   border: 4px solid #cccccc;
   background-color: #333;
 }
 
 .topnav a {
   float: right;
   color: #f2f2f2;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   font-size: 17px;
 }
 
 .topnav a:hover {
   background-color: #ddd;
   color: black;
 }
 
 .topnav a.active {
   background-color: #4CAF50;
   color: white;
 }
*/

.container {
   width: 1024px;
   margin: 0 auto;
}

header {
   font-size: 28px; 
   color: #3c3c3c;
   background-image: url("assets/images/hippo-skin.gif");
   border: 4px solid #cccccc;
   padding: 4px;
   margin-bottom: 10px;
   text-align: center;
}

body {
   font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
   color: #080606;
}

h1, h2, h3 {
   font-family: "Arial Black", "Times New Roman", Times, serif;
   font-weight: bold;
}

h2 {
   font-size: 24px;
   padding-left: 4px;
}

h3 {
   font-size: 22px;
   padding-left: 4px;
}

blockquote {
    font-style: italic;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 20px;
    padding: 6px 6px 0px 6px;
}

/* put the 2nd quote on the right */
blockquote.b {
    font-style: italic;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 20px;
    padding: 6px;
    text-align: right;
}

ul {
   font-size: 16px;
   font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

p {
   padding-left: 4px;
}

/* For the thumbnails Got the start for this code at https://www.w3schools.com/css/css_image_gallery.asp */
div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}
/* End thumbnails */



