/* css file for 4/20/19 homework assignment. Portfolio. */
*, *:before, *:after {
   box-sizing: border-box;
}

/* code for nav buttons */
.topnav {
   overflow: hidden;
   border: 4px solid #cccccc;
   background-color: #333;
}
 
.topnav a {
   float: right;
   color: #f2f2f2;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   font-size: 17px;
}
 
.topnav a:hover {
   background-color: #ddd;
   color: black;
}
 
.topnav a.active {
   background-color: #4CAF50;
   color: white;
}

/* Need to change this to homework specifications before turning in */
header {
   font-family: Georgia, 'Times New Roman', Times, serif;
   font-size: 28px; 
   text-shadow: 2px 2px gray;  
   color: teal;
   background-color: darkgreen;
   border: 4px solid #cccccc;
   padding: 4px;
  /* margin-top: 10px; */
   margin-bottom: 10px;
   text-align: center;
}

.container {
   width: 960px;
   margin: 0 auto;
}

body {
   font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
   color: #080606;
   background-image: url("assets/images/spiration-light.png");
}

h1, h2, h3 {
   font-family: Georgia, "Times New Roman", Times, serif;
   font-weight: bold;
   color: #4aaaa5;
}

h2 {
   font-size: 24px;
}

h3 {
   font-size: 22px;
}

/* For index.html file */
#headshot {
   float: left;
   margin-right: 4px;
   margin-bottom: 10px;
   border: 2px solid green;
   width: 17.6%;
}

/* for contact.html */
main {
   color: teal;
   font-size: 18px;
   border: 4px solid #cccccc;
   padding: 4px;
   margin-top: 10px;
   margin-bottom: 10px;
}

/* For index.html file */
#intro {
   float: left; 
   padding: 6px;
   width: 80%;
   margin-top: 20px;
}

/* For index.html file */
#no1 {
   clear: both;
   font-size: 16px;
   font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
   padding-top: 4px;
}

ul {
   font-size: 16px;
   font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

/* This is to control the 2 photos for "My Family" */
.fam {
   display: block;
   float: left;
   margin: 2px;
   border: 2px solid red;
   width: 49.5%;
}